[Unit]
Description=Runs shell script every Monday and Saturday at 05:00

PartOf=shellscript.target

[Timer]
Unit=shellscript.service
OnCalendar=Wed,Sat 05:00:00
Persistent=true

[Install]
WantedBy=shellscript.target
