[Unit]
Description=Runs shell script every day at 15:30

PartOf=shellscript.target

[Timer]
Unit=shellscript.service
OnCalendar=*-*-* 14:30:00
Persistent=true

[Install]
WantedBy=shellscript.target
