#!bin/bash

singularity pull --force /home/vagrant/containers/gms-artic-illumina.sif docker://genomicmedicinesweden/gms-artic-illumina:latest
#singularity pull --force /home/proj/${INSTANCE}/mutant/MUTANT/mutant/externals/gms-artic/artic-ncov2019-illumina.sif docker://genomicmedicinesweden/gms-artic-illumina:latest
