[Unit]
Description=Runs shell script every Monday and Saturday at 15:30

PartOf=shellscript.target

[Timer]
Unit=shellscript.service
OnCalendar=Mon,Sat 14:30:00
Persistent=true

[Install]
WantedBy=shellscript.target
